flow3.json
[{"id":"b3fb68e4.1dadf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fd11ed2.fb6cf","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8c7938be.7778d8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"95f62ab3.00c398","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8f4a185c.c6a2e8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"5193fcc8.03d0f4","type":"rpi-gpio out","z":"b3fb68e4.1dadf8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":380,"y":180,"wires":[]},{"id":"53ace849.ad86b8","type":"rpi-gpio in","z":"b3fb68e4.1dadf8","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":150,"y":180,"wires":[["5193fcc8.03d0f4"]]},{"id":"f1d2d340.08789","type":"inject","z":"5fd11ed2.fb6cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["89750d5c.0d397"]]},{"id":"89750d5c.0d397","type":"function","z":"5fd11ed2.fb6cf","name":"payload","func":"msg.headers={\n    deviceKey:\"teL724Dd0o0YNagA\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["216b9d5c.dbb3c2"]]},{"id":"216b9d5c.dbb3c2","type":"http request","z":"5fd11ed2.fb6cf","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DblEgIj3/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":480,"y":220,"wires":[["3b9c2039.fa34c","73c9d0bd.06a6e"]]},{"id":"3b9c2039.fa34c","type":"debug","z":"5fd11ed2.fb6cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":380,"wires":[]},{"id":"73c9d0bd.06a6e","type":"http response","z":"5fd11ed2.fb6cf","name":"","statusCode":"","headers":{},"x":370,"y":300,"wires":[]},{"id":"a7576e07.2c9dc","type":"inject","z":"8c7938be.7778d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["1ebc1731.73c209"]]},{"id":"1ebc1731.73c209","type":"function","z":"8c7938be.7778d8","name":"func","func":"msg.headers={\n    DeviceKey: \"vrYIuxjaMCuWxH2w\"\n    };\nmsg.payload=\"tem,,60\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["e0ec2564.02e878"]]},{"id":"e0ec2564.02e878","type":"http request","z":"8c7938be.7778d8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DbnLKtOY/datapoints.csv","tls":"","proxy":"","authType":"","x":140,"y":300,"wires":[["93cbbae4.28ddb8","bb5a25dc.d0f6a8","68dccdac.dbf994"]]},{"id":"93cbbae4.28ddb8","type":"function","z":"8c7938be.7778d8","name":"func","func":"msg.headers={\n    DeviceKey: \"vrYIuxjaMCuWxH2w\"\n    };\nmsg.payload=\"wet,,6\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":400,"wires":[["4df28301.87c4fc"]]},{"id":"4df28301.87c4fc","type":"http request","z":"8c7938be.7778d8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DbnLKtOY/datapoints.csv","tls":"","proxy":"","authType":"","x":270,"y":520,"wires":[["b9c0f82c.54c258","8f1149c4.dba668"]]},{"id":"8f1149c4.dba668","type":"debug","z":"8c7938be.7778d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":640,"wires":[]},{"id":"b9c0f82c.54c258","type":"http response","z":"8c7938be.7778d8","name":"","statusCode":"","headers":{},"x":290,"y":600,"wires":[]},{"id":"68dccdac.dbf994","type":"debug","z":"8c7938be.7778d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":340,"wires":[]},{"id":"bb5a25dc.d0f6a8","type":"http response","z":"8c7938be.7778d8","name":"","statusCode":"","headers":{},"x":350,"y":300,"wires":[]},{"id":"fc23be74.2b804","type":"http in","z":"95f62ab3.00c398","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":310,"y":180,"wires":[["28eef9a2.8e6586"]]},{"id":"e3166683.d0c228","type":"rpi-gpio in","z":"95f62ab3.00c398","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":300,"y":280,"wires":[["149d7992.6f0fa6"]]},{"id":"149d7992.6f0fa6","type":"function","z":"95f62ab3.00c398","name":"Set","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[[]]},{"id":"28eef9a2.8e6586","type":"function","z":"95f62ab3.00c398","name":"Get","func":"msg.payload = global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[[]]},{"id":"fe7b392a.e3d228","type":"inject","z":"8f4a185c.c6a2e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["4ccb3039.5cb4c"]]},{"id":"4ccb3039.5cb4c","type":"function","z":"8f4a185c.c6a2e8","name":"Payload","func":"msg.headers={\n    DeviceKey: \"Yvgn3pbswr49KWRi\"\n    };\nmsg.payload=\"Temperature,,60\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["cc26cd5b.bbdff"]]},{"id":"cc26cd5b.bbdff","type":"http request","z":"8f4a185c.c6a2e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dik03hl5/datapoints.csv","tls":"","proxy":"","authType":"","x":690,"y":100,"wires":[["a20a1a6c.d3b558","45183dae.ee7804"]]},{"id":"a20a1a6c.d3b558","type":"http response","z":"8f4a185c.c6a2e8","name":"","statusCode":"","headers":{},"x":630,"y":180,"wires":[]},{"id":"45183dae.ee7804","type":"debug","z":"8f4a185c.c6a2e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":320,"wires":[]}]
