Flow 5.json
[{"id":"b4dbc88e.fb7938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e9202076.26c89","type":"tab","label":"1","disabled":false,"info":""},{"id":"3a63a0b6.c45cf","type":"tab","label":"2","disabled":false,"info":""},{"id":"e9ecd46e.868228","type":"tab","label":"3","disabled":false,"info":""},{"id":"aee6a7fe.eafa08","type":"inject","z":"b4dbc88e.fb7938","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":110,"y":100,"wires":[["a08db50b.44fff8"]]},{"id":"a08db50b.44fff8","type":"function","z":"b4dbc88e.fb7938","name":"payload","func":"msg.headers={\n    deviceKey :\"Yvgn3pbswr49KWRi\"\n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["8e0434cb.a67188"]]},{"id":"8e0434cb.a67188","type":"http request","z":"b4dbc88e.fb7938","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Dik03hl5/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":560,"y":120,"wires":[["3ce518e3.335738"]]},{"id":"3ce518e3.335738","type":"http response","z":"b4dbc88e.fb7938","name":"","statusCode":"","headers":{},"x":720,"y":120,"wires":[]},{"id":"929ff87d.c3ebf8","type":"rpi-gpio in","z":"b4dbc88e.fb7938","name":"","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":300,"wires":[["2ef1766d.e12fea","5d1262dd.5ffb8c"]]},{"id":"5d1262dd.5ffb8c","type":"rpi-gpio out","z":"b4dbc88e.fb7938","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":360,"wires":[]},{"id":"2ef1766d.e12fea","type":"debug","z":"b4dbc88e.fb7938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":220,"wires":[]},{"id":"8717402f.7a631","type":"http in","z":"e9202076.26c89","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":230,"y":260,"wires":[["f5157efa.808bb"]]},{"id":"f5157efa.808bb","type":"random","z":"e9202076.26c89","name":"","low":"1","high":"10","inte":"true","property":"payload","x":420,"y":260,"wires":[["514a60d3.6234","f2a9568.37a67a8"]]},{"id":"514a60d3.6234","type":"http response","z":"e9202076.26c89","name":"","statusCode":"","headers":{},"x":620,"y":260,"wires":[]},{"id":"f2a9568.37a67a8","type":"debug","z":"e9202076.26c89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":340,"wires":[]},{"id":"ffea50de.2053d","type":"http in","z":"3a63a0b6.c45cf","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["b7155389.8013a"]]},{"id":"abf65142.12552","type":"rpi-gpio in","z":"3a63a0b6.c45cf","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":120,"y":400,"wires":[["b603c1d8.5949c"]]},{"id":"b603c1d8.5949c","type":"function","z":"3a63a0b6.c45cf","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["5796aaa0.3bf114"]]},{"id":"b7155389.8013a","type":"function","z":"3a63a0b6.c45cf","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["5796aaa0.3bf114","6fe3217d.e7d66"]]},{"id":"5796aaa0.3bf114","type":"debug","z":"3a63a0b6.c45cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":400,"wires":[]},{"id":"6fe3217d.e7d66","type":"http response","z":"3a63a0b6.c45cf","name":"","statusCode":"","headers":{},"x":600,"y":260,"wires":[]},{"id":"c493eed9.0a81c","type":"http in","z":"e9ecd46e.868228","name":"set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["af2d4a49.99fe28","ac4cb883.eeb788"]]},{"id":"af2d4a49.99fe28","type":"function","z":"e9ecd46e.868228","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["16cdd133.84ce5f"]]},{"id":"16cdd133.84ce5f","type":"rpi-gpio out","z":"e9ecd46e.868228","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":520,"y":380,"wires":[]},{"id":"ac4cb883.eeb788","type":"function","z":"e9ecd46e.868228","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["e6d6d4a0.b589e8","cef78b0b.2823a8"]]},{"id":"e6d6d4a0.b589e8","type":"http response","z":"e9ecd46e.868228","name":"","statusCode":"","headers":{},"x":910,"y":220,"wires":[]},{"id":"cef78b0b.2823a8","type":"debug","z":"e9ecd46e.868228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":500,"wires":[]},{"id":"6f0860d.55546a","type":"http in","z":"e9ecd46e.868228","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":460,"wires":[["a39db06a.79004","813cbc31.32564"]]},{"id":"a39db06a.79004","type":"function","z":"e9ecd46e.868228","name":"clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["16cdd133.84ce5f"]]},{"id":"813cbc31.32564","type":"function","z":"e9ecd46e.868228","name":"return status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["cef78b0b.2823a8","e6d6d4a0.b589e8"]]}]